<footer class="page-footer teal darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6s12">
	<h5 class="white-text">Some Text Example</h5>
	<p class="grey-text text-lighten-4">Lorem ipsum dolor
	  sit amet, consecteturadipiscingelit, sed do
	  eiusmodtemporincididuntutlabore et dolore magna aliqua.
	  Utenim ad minim veniam, quisnostrud
	  Utenim ad minim veniam, quisnostrud
	  exercitationullamcolaboris nisi utaliquip ex
	  eacommodoconsequat. Duisauteirure dolor in reprehenderit
	  in voluptatevelitessecillumdoloreeufugiatnullapariatur.</p>
      </div>
      <div class="col l3s12">
	<h5 class="white-text">Sample Links</h5>
	<ul>
	  <li><a class="white-text" href="#!">Link 1</a></li>
	  <li><a class="white-text" href="#!">Link 2</a></li>
	  <li><a class="white-text" href="#!">Link 3</a></li>
	  <li><a class="white-text" href="#!">Link 4</a></li>
	</ul>
      </div>
      <div class="col l3s12">
	<h5 class="white-text">Sample Links</h5>
	<ul>
	  <li><a class="white-text" href="#!">Link 1</a></li>
	  <li><a class="white-text" href="#!">Link 2</a></li>
	  <li><a class="white-text" href="#!">Link 3</a></li>
	  <li><a class="white-text" href="#!">Link 4</a></li>
	</ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      MVC Express App for: <a class="white-text text-darken-2"
			      href="#">Node.js 6 Blueprints Book</a>
    </div>
  </div>
</footer>
<!-- 개발용 라이브 리로드 -->
{% if ENV_DEVELOPMENT %}
  <script src="http://localhost:3729/livereload.js"></script>
{% endif %}
<!-- InitRsponsiveSidenav Menu -->
<script>
  (function ($) {
    $(function() {
      $('.button-collapse').sideNav();
    });
  })(jQuery);
</script>
